.form {
    margin: auto;
    max-width: 18.75em;
    padding: 0 1rem;

    &__btnWrapper {
        display: flex;
        justify-content: space-evenly;

        button {
            width: 100px;
        }
    }
}