.form {
    &__btn {
        display: block;
        width: 100%;
        font-size: 1.1rem;
        margin-top: 1rem;
        text-decoration: underline;
    }
}

.inputRemember {
    display: flex;

    label {
        margin-left: 0.25rem;
    }
}